*.1 -linguist-detectable
*.2 -linguist-detectable
*.3 -linguist-detectable
*.4 -linguist-detectable
*.5 -linguist-detectable
*.6 -linguist-detectable
*.7 -linguist-detectable
*.8 -linguist-detectable
*.9 -linguist-detectable